body {
  display: flex;
  justify-content: space-evenly;
}
.square {
  width: 200px;
  height: 200px;
  box-shadow: 5px 5px 5px #333;
  border-radius: 5px;
  &.green {
    background: green;
  }
  &.red {
    background: red;
  }
}